@charset "UTF-8";

@font-face {
    font-family:mario;
    src: url(font/SuperMario256.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.titulo {
    margin-top: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'mario';
    display: inline-block;
    text-shadow: 1px 3px 2px black;
}

.game-board {
    width: 80%;
    height: 600px;
    border-bottom: 40px solid green;
    box-shadow: 0px 0px 4px black;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgb(0, 174, 255) 50%, white);
}

.tubo {
    position: absolute;
    bottom: 0px;
    width: 80px;
    animation: tubo-animation 2s linear infinite;
}

.mario {
    position: absolute;
    width: 120px;
    bottom: 0;
    animation: jump 1s infinite ease-out;
}


.nuvem {
    width: 500px;
    bottom: 65%;
    position: absolute;
    animation: nuvem_animation 10s linear infinite;
}

@keyframes tubo-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }

}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 150px;
    }

    50% {
        bottom: 150px;
    }

    60% {
        bottom: 150px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes nuvem_animation {
    from {
        right: -500px;
    }

    to {
        right: 100%
    }
}