@charset "UTF-8";

@font-face {
    font-family:mario;
    src: url(font/SuperMario256.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#backgroud {
    background-image: url(img/textura.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.borda{
    width: 80%;
    border: 5px solid black;
    margin: 50px auto;
    border-radius: 14px;
}

.game-board {
    height: 750px;
    border-bottom: 40px solid #017e01;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 9px;
    background-image: linear-gradient(to bottom, #00aeff 50%, #ffffff);
}

.mario {
    position: absolute;
    width: 120px;
    bottom: 0;
}

.jump_animation {
    animation: jump_animation 700ms ease-out;
}

.tubo {
    position: absolute;
    bottom: 0px;
    width: 80px;
    animation: tubo_animation 1.5s linear infinite;
}

.nuvem {
    width: 500px;
    bottom: 67%;
    position: absolute;
    animation: nuvem_animation 40s linear infinite;
}

@keyframes tubo_animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }

}

@keyframes jump_animation {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 150px;
    }

    50% {
        bottom: 150px;
    }

    60% {
        bottom: 150px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes nuvem_animation {
    from {
        right: -500px;
    }

    to {
        right: 100%
    }
}